.froggins {
  &.header {
    background: linear-gradient(to left, #9ad89a, #e7ffff);
    border-bottom: 2px solid #1c2f1c;
    box-shadow: 0px 2px 20px 0px #657566;

    > h1:after {
      content: '🐸';
    }
  }

  &.panel {
    background-color: #9ad89a;
  }
}
